<%= form_for @reservation, url: {action: "create"}, html: {role: "form"} do |f| %>
	<div class="form-group">
		<%= label(:reservation, :name) %>
		<%= f.text_field :name, placeholder: "Your name", class: "form-control" %>
	</div>
	<div class="form-group">
		<%= label(:reservation, :email) %>
		<%= f.text_field :email, placeholder: "Your email address", class: "form-control" %>
	</div>
	<div class="form-group">
		<%= label(:reservation, :date) %>
		<%= f.datetime_select :date_time, class: "form-control" %>
	</div>
	<%= f.submit "Schedule it!", class: "btn btn-success" %>
<% end %>