<div class="container-fluid">
  <div class="row">
  	<div class="col-md-12">
      <h1 class="text-centered">Make a Reservation</h1>
  	</div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= form_for @reservation, url: {action: "create"}, html: {role: "form"} do |f| %>
    	  <div class="form-group">
			<%= label(:reservation, :name) %>
			<%= f.text_field :name, placeholder: "Your name", class: "form-control" %>
		  </div>
		  <div class="form-group">
			<%= label(:reservation, :email) %>
			<%= f.text_field :email, placeholder: "Your email address", class: "form-control" %>
		  </div>
		  <div class="form-group">
			<%= label(:reservation, :date) %>
			<%= f.datetime_select :date, class: "form-control" %>
		  </div>
		  <%= f.submit "Schedule it!", class: "btn btn-success" %>
	  <% end %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>