<!DOCTYPE html>
<html>
<head>
  <title>Reservator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>
<div class="container-fluid">
<% if notice %>
	<div class="alert alert-info"><%= notice %></div>
<% end %>
<% if alert %>
	<div class="alert alert-warning"><%= alert %></div>
<% end %>
<%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>